{
    "model_data": "E:\\projects\\INTERACT\\repository\\data\\3 - Motion primitives\\motion_primitives_quaternion_PCA95 m32-integration-1.4",
    "transition_data": "E:\\projects\\INTERACT\\repository\\data\\4 - Transition model\\input",
    "output_dir":  "E:\\projects\\INTERACT\\repository\\BestFitPipeline\\_Results",
    "input_dir": "E:\\projects\\INTERACT\\repository\\BestFitPipeline\\CNL-GUI",
    "output_filename": "MGResult",
    "port": 8888,
    "export_motion_to_file": true,
    "activate_joint_map": true,
    "activate_coordinate_transform": true,
    "data_folder": "C:\\repo\\data\\1 - MoCap",
    "write_log" : true,
    "algorithm_settings": "accuracy",
    "add_time_stamp": true,
    "activate_collision_avoidance": true,
    "collision_avoidance_actions": ["pickRight","pickLeft","pickBoth","placeRight","placeLeft","placeBoth"],
    "collision_avoidance_service_url": "127.0.0.1",
    "collision_avoidance_service_port": 10030,
    "create_ca_vis_data": false
}